body, html {
  margin: 0px;
  padding: 0px;
  font-family:  "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  background-image: url(images/stars.gif);
  background-attachment: fixed;
}

h1, h2, p {
  color: #fffafe;
}

h1, h2 {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 3px #fff, 0 0 20px #2e6fc9, 0 0 30px #2e6fc9, 0 0 40px #2e6fc9, 0 0 55px #2e6fc9, 0 0 75px #0037a6;
}

/* HEADING  */

.heading {
  display: flex;
  font-size: 16vmin;
  text-align: center;
  margin-bottom: 14vmin;
  font-weight: bold;
  padding: 14vmin;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #2e6fc9, 0 0 30px #2e6fc9, 0 0 40px #2e6fc9, 0 0 55px #2e6fc9, 0 0 75px #0037a6;
}

/* BIOGRAPHY */

.first {
  display: flex;
  flex-direction: row;
  padding: 6vmin;
  padding-left: 13vmin;
}

.aboutimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4vmin;
}

.abouttext {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10vmin;
  font-size: 2.5vmin;
  padding-left: 20vmin;
  padding-right: 20vmin;
}

/* QUOTES */

.quote {
  font-size: 3vmin;
  padding: 7vmin;
  padding-left: 40vmin;
  padding-right: 40vmin;
  margin-top: 25vmin;
  margin-bottom: 30vmin;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #2e6fc9, 0 0 30px #2e6fc9, 0 0 40px #2e6fc9, 0 0 55px #2e6fc9, 0 0 75px #0037a6;
}

.quote2 {
  font-size: 3vmin;
  padding: 7vmin;
  margin-top: 30vmin;
  margin-bottom: 15vmin;
  padding-left: 25vmin;
  padding-right: 25vmin;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #2e6fc9, 0 0 30px #2e6fc9, 0 0 40px #2e6fc9, 0 0 55px #2e6fc9, 0 0 75px #0037a6;
}

/* THE LOVERS */

.thelovers {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 17vmin;
  margin-bottom: 25vmin;
}

.thelovers img {
  width: 35%;
}

.theloverstext {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin: 3vmin;
  margin-right: 20vmin;
  font-size: 2.75vmin;
}

/* BLACK MAGIC */

.blackmagic {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25vmin;
  margin-bottom: 25vmin;
}

.blackmagic img {
  width: 25%;
}

.blackmagictext {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  font-size: 2.75vmin;
  margin: 3vmin;
  margin-right: 20vmin;
  margin-left: 20vmin;
}

/* ART OF LIVING */

.artofliving {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25vmin;
  margin-bottom: 25vmin;
}

.artofliving img {
  width: 30%;
}

.artoflivingtext {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  font-size: 2.75vmin;
  margin: 3vmin;
  margin-right: 20vmin;
  margin-left: 20vmin;
}

/* SON OF MAN */

.sonofman {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25vmin;
  margin-bottom: 7vmin;
}

.sonofman img {
  width: 30%;
}

.sonoftext {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  font-size: 2.75vmin;
  margin: 3vmin;
  margin-right: 20vmin;
  margin-left: 20vmin;
}

/* INVENTION */

.invention {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16vmin;
  margin-bottom: 20vmin;
}

.invention img {
  width: 40%;
}

.inventiontext {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin: 10vmin;
  margin-top: 30vmin;
  margin-right: 17vmin;
  font-size: 2.75vmin;
}

/* ELECTIVE */

.elective {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25vmin;
  margin-bottom: 7vmin;
}

.elective img {
  width: 30%;
}

.electivetext {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  font-size: 2.75vmin;
  margin: 3vmin;
  margin-right: 20vmin;
  margin-left: 20vmin;
}


/* BREAKPOINT */
@media screen and (max-width: 1024px) {
  body {
    background-repeat: no-repeat;
  }

  h1 {
    display: flex;
    flex-direction: row;
  }

  /* HEADING */

  .heading {
    font-size: 10vmin;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 45vmin;
    padding-top: 50vmin;
  }

  /* BIOGRAPHY */

  .first {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vmin;
  }

  .aboutimg img{
    max-width: 80%;
    max-height: 80%;
}

  .abouttext {
    font-size: 1.2em;
    margin-left: -17vmin;
    margin-right: -6vmin;
    display: flex;
    align-items: center;
  }

  /* QUOTES */

  .quote {
    font-size: 1.2em;
    text-align: center;
    display: flex;
    align-content: center;
    padding-bottom: 10vmin;
    padding: 120px;
  }

  .quote2 {
    font-size: 1.2em;
  }

  /* THE LOVERS */

  .thelovers {
    display: flex;
    flex-direction: column;

  }
  .thelovers img {
    margin-left: -20vmin;
    width: 60%;
  }

  .theloverstext {
    font-size: 1.2em;
    display: flex;
    align-items: center;
  }

  /* BLACK MAGIC */

  .blackmagic {
    display: flex;
    flex-direction: column;
  }

  .blackmagic img {
    margin-left: -20vmin;
    width: 50%;
  }

  .blackmagictext {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-left: -8vmin;
  }

/* ART OF LIVING */

  .artofliving {
    display: flex;
    flex-direction: column;

  }
  .artofliving img {
    margin-left: -25vmin;
    width: 50%;
  }

  .artoflivingtext {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-left: -6vmin;
  }

/* SON OF MAN */

  .sonofman {
    display: flex;
    flex-direction: column;

  }
  .sonofman img {
    margin-left: -25vmin;
    width: 50%;
  }

  .sonoftext {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-left: -10vmin;
  }

  /* INVENTION */

  .invention {
    display: flex;
    flex-direction: column;

  }
  .invention img {
    margin-left: -20vmin;
    width: 50%;
  }

  .inventiontext {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-top: -1.5vmin;
    margin-left: -2vmin;
  }

  /* ELECTIVE */

  .elective {
    display: flex;
    flex-direction: column;

  }
  .elective img {
    margin-left: -22vmin;
    width: 50%;
  }

  .electivetext {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-top: -1.5vmin;
    margin-left: -2vmin;
  }

}
